.cont_quotation{
    margin-top: 145px;
}

.button{
    margin-bottom: 20px;
    justify-content: space-between;
}


.accion{
    display: flex;
    justify-content: space-between;
    a{
        width: 25px;
        text-align: center;
        border-radius: 3px;
    }
    img{
        margin-bottom: 4px;
    }
}


.modal_look{
    margin-bottom: 5px;
    h5{
        font-weight: normal;
    }
    span{
        font-weight: bold;
    }
}

.modal_delete{

    img{
        width: 100px;
    }
    .button{
        color: #fff;
    }
}



.modal_update form {
      justify-content: space-between;
}

form .cont{
    width: 45%;
}
.cont_btn{
    justify-content: end;
}


.pagi{
    justify-content: end;
}


  



   

.color-1 {
    color: #fff;
    background-color: #1a8754; 
  }
  
  .color-2 {
    color: #fff;
    background-color: #ffc108; 
  }
  
  .color-3 {
    color: #fff;
    background-color: #db3545; 
  }
