.cont_quotation{
    width: 100%;
    margin-top: 165px;
}


.button{
    margin-bottom: 20px;

}
.quot{
    justify-content: space-between;
    .cont{
        width: 40%;
        margin: 12px;
    }
}

.cont_btn{
    justify-content: center;
}

.cont_option{
    justify-content: space-between;
    .cont{
        width: 40%;
        margin: 12px;
    }
}

