<div class=" cont_service container-md">

    <div class="title text-center mb-3">
        <h4>Servicios/Productos</h4>
    </div>

    <section class="button d-flex row">
        <div class="col-sm-6 ">
        <button type="button" class="btn btn-primary" routerLink="/dashboard/client">Consultar Cliente</button>
        </div>

    </section>

    <section class="container-md bg-body-tertiary">
       <form action="" >
       <div class=" form d-flex ">
        <div class="cont">
            <label for="input" class="form-label">Tipo:</label>
            <input class="form-control mb-2" type="text"  aria-label="default input example">
            <label for="input" class="form-label">Neto:</label>
            <input class="form-control" type="text" aria-label="default input example">
        </div>

        <div class="cont">
            <label for="input" class="form-label">Nombre:</label>
            <input class="form-control mb-2" type="text"  aria-label="default input example">
            <label for="exampleFormControlTextarea1" class="form-label">Descripcion:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>

    </div>

        <div class=" cont_btn mt-3 me-3 pb-3 d-flex">
            <button type="submit" class="btn btn-primary ">Ingresar</button>
          </div>
      </form>

    </section>
</div>

